# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.



cliente/tmp
cliente/out-tsc
cliente/bazel-out
cliente/dist/
cliente/build/


cliente/node_modules/
cliente/npm-debug.log
cliente/yarn-error.log


/node_modules
/package-lock.json
cliente/pnpm-lock.yaml


# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace



.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*



/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings


.DS_Store
Thumbs.db