<nav class="nav-container d-flex flex-column gap-1">

  <a class="nav-link nav-item" routerLink="/inicio" routerLinkActive="active">
    Inicio
  </a>

  <a class="nav-link nav-item" routerLink="/perfil" routerLinkActive="active">
    Mi perfil
  </a>

  <a *ngIf="esAlumno" class="nav-link nav-item" routerLink="/listadoProyPend" routerLinkActive="active">
    Entregas pendientes
  </a>

  <a class="nav-link nav-item text-danger" style="cursor: pointer;" (click)="cerrarSesion()">
    Cerrar Sesión
  </a>

</nav>