<app-encabezado></app-encabezado>

<div class="container-fluid">
  <div class="row flex-nowrap">

    <!-- Sidebar fijo a la izquierda -->
    <div class="col-md-2 bg-light min-vh-100 p-3 sidebar">
      <app-navbar></app-navbar>
    </div>

    <div class="col py-3">

      <div class="d-flex justify-content-center mb-4 gap-3">
        <button routerLink="/crear-clase" class="btn btn-outline-secondary btn-lg shadow-sm">
          Crear clase
        </button>
        <button routerLink="/inscripcion" class="btn btn-primary btn-lg shadow-sm">
          Unirme a una clase
        </button>
      </div>

      <app-clases-list></app-clases-list>

    </div>
  </div>
</div>