<header class="encabezado d-flex align-items-center justify-content-between p-3 text-white shadow-sm">
  <div class="d-flex align-items-center">
    <a routerLink="/inicio" class="d-flex align-items-center text-decoration-none text-white p-0">
      <img src="logo.png" alt="Logo de Class App" class="logo-img me-3" />
      <div class="texto-header">
        <h1 class="m-0 h4 fw-bold">StudyRoom</h1>
        <p class="m-0 subtitulo d-none d-sm-block">Tu portal educativo</p>
      </div>
    </a>    
  </div>
  <nav class="navegacion">
  </nav>
</header>